.productImageContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.productImageContainer img{
    width: 100px;
    height: 100px;
    /* padding: 20px; */
    object-fit: contain;
}